<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <div class="wrapper">
                    <div class="detaheader">{{ name }} - #{{ id }}</div>
                    <div class="banner-img text-center">
                        <img class="center" src="{{ img }}" alt="Image 1">
                    </div>
                    <div class="dates">
                        <div class="start">
                            <strong>Abilities</strong> {{ abilities }}
                            <span></span>
                        </div>
                        <div class="ends">
                            <strong>Category</strong> {{ category }}
                        </div>
                    </div>
                    <div class="stats">
                        <div>
                            <strong>Height</strong> {{ height }}m
                        </div>
                        <div>
                            <strong>Weight</strong> {{ weight }}kg
                        </div>
                        <div>
                            <strong>Type</strong> {{ type }}
                        </div>
                    </div>
                    <div class="centrado">
                        <div>
                            <strong>Description</strong> {{ description }}
                        </div>
                    </div>
                    <div class="footer">
                        <a href="#/home" class="Cbtn Cbtn-primary">Volver</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>